html{
background-color: peachpuff;
color: white;
font-size: 100%;
background-color: black;
}

h1{
text-align: center;

}
#mainheader{
    font
    font-size: 300%;
margin: 50px;
color: silver

    
}
.card-parent{
    display: flex;
 justify-content: space-evenly;
    flex-direction: row;

}
.card-child{
    align-items: center;
    border: white solid;
    padding: 5px;
    border-radius: 5px;
    margin: 2% auto;
}

.em

.rem

image{
    max-height: 50px auto;
    max-width: 50px auto;
}