html{
background-color: peachpuff;
font-size: 100%;
color: white;
background-color: black;
}

h1{
max-width: 50%;
text-align: center;

}
#mainheader{
    font-size: 300%;
    background-color: maroon;
border-radius: 5px;
padding: 5px;
border: 2px
}
.card-parent{
    font-size: 30px;
    border: 5px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.em

.rem